*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: darksalmon;

}

img{
    width: 300px;
    border: 20px groove deeppink;
    padding: 10px;
    margin: 20px;
}
#anushkaShetty{
    width: 400px;
    box-sizing: content-box;
    background-color: aquamarine;
}
#rashmikaMandanna{
    width: 400px;
    box-sizing: content-box; 
    background-color: aquamarine;   
}
#sreeleela{
    width: 400px;
    box-sizing: content-box; 
    background-color: aquamarine;    
}
#h1{
    background-color: blue; 
    text-align: center;
    font-size: 3rem;
    box-shadow: 10px 10px 10px black;
    text-shadow: 10px 10px 10px black;
    border-style: dashed;
    }